@font-face {
    font-family: 'medical-icon';
    src: url('../fonts/medical-icon.eot');
    src: url('../fonts/medical-icond41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/medical-icon.woff') format('woff'),
         url('../fonts/medical-icon.ttf') format('truetype'),
         url('../fonts/medical-icon.svg#medi') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='medi-']:before{
	display: inline-block;
   font-family: 'medical-icon';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.medi-cardiology:before{content:'\0041';}
.medi-diabetes:before{content:'\0042';}
.medi-facial-surgery:before{content:'\0043';}
.medi-gastroenterology:before{content:'\0044';}
.medi-gynecology:before{content:'\0045';}
.medi-hepatology:before{content:'\0046';}
.medi-neurology:before{content:'\0047';}
.medi-ophthalmology:before{content:'\0048';}
.medi-oral-health:before{content:'\0049';}
.medi-orthopedics:before{content:'\004a';}
.medi-osteology:before{content:'\004b';}
.medi-pulmonology:before{content:'\004c';}
.medi-radiology:before{content:'\004d';}
.medi-rhinology:before{content:'\004e';}
.medi-urology:before{content:'\004f';}