.contentContainer{
    margin: 15px;
    width: auto;
    height: auto;
    padding: 0px;
    background-color: transparent;
}
.contentBackground{
    width: auto;
    height: auto;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 20px;
    align-content: center;
}
.questionNumber{
    width: 100px;
    height: 60px;
    color: #000000;
    font-size: 46px;
    text-align: center;
    vertical-align: middle;
    top: 10px;
    left: 10px;
    position: absolute;
}
.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  /*border: 1px dashed #444;*/
  width: 150px;
  height: 150px;
  transition: 500ms all;
}

.correct{
    width: 100%;
    background-color: lightgreen;
    border-left: 4px solid green;
    color: green;
    margin-bottom: 2px;
    padding-left: 5px; 
}
.incorrect{
    width: 100%;
    background-color: lightpink;
    border-left: 4px solid red;
    color: red;
    margin-bottom: 2px;
    padding-left: 5px; 
}
.info{
    width: 100%;
    background-color: lightgray;
    border-left: 4px solid gray;
    color: black;
    margin-bottom: 2px;
    padding-left: 5px; 
}
.patient{
    width: 100%;
    height: 40px;
    margin-bottom: 2px;
    border-bottom: 1px solid lightgray;
}
.padding10top{
    padding-top: 10px;
}
.modalButton{
    width: 100%;
    height: 40px;
    background-color: lightblue;
    color: blue;
    border-radius: 5px;
}
.marginBottom3{
    margin-bottom: 3px;
}
.profile_sm{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.col-icon-box{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
    opacity: 0.75;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    border-radius: 10px;
}

.col-icon-box:hover .overlay {
    width: 100%;
}

.text {
    text-align: center;
    white-space: nowrap;
    color: blue;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.white_back{
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    margin-top: 10px;
    clear: both;
    position: relative;
}

.header_top_bar{
    width: 100%;
    height: 80px;
    background-color: #0c0c2e;
}

/*********************************************************************************/
input[type=range] {
  -webkit-appearance: none;
  margin-top: 14px;
    margin-left: 14px;
  width: 94%;
  
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #002200;
  background: #205928;
  border-radius: 1px;
  border: 1px solid #18D501;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 3px 3px 3px #00AA00;
  border: 2px solid #83E584;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #439643;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #205928;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #002200;
  background: lightblue;
  border-radius: 6px;
  border: 1px solid blue;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 3px 3px 3px #00AA00;
  border: 2px solid #83E584;
  height: 15px;
  width: 15px;
  border-radius: 23px;
  background: #439643;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #205928;
  border: 1px solid #18D501;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #002200;
}
input[type=range]::-ms-fill-upper {
  background: #205928;
  border: 1px solid #18D501;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #002200;
}
input[type=range]::-ms-thumb {
  box-shadow: 3px 3px 3px #00AA00;
  border: 2px solid #83E584;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #439643;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #205928;
}
input[type=range]:focus::-ms-fill-upper {
  background: #205928;
}
.range{
    width: 100%;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
  
}
.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    margin-bottom: 15px;
    padding: 12px 12px 8px 12px;
    vertical-align: middle;
}

.success {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
    margin-bottom: 15px;
    padding: 12px 12px 8px 12px;
    vertical-align: middle;
}

.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    margin-bottom: 15px;
    padding: 12px 12px 8px 12px;
    vertical-align: middle;
}


.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    margin-bottom: 15px;
    padding: 12px 12px 8px 12px;
    vertical-align: middle;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

